.grid{
    height: 700px;
    width: 560px;
    display:flex;
    flex-wrap: wrap;
    margin: auto;
}

.grid div{
    height:70px;
    width: 70px;
}

body {
    padding-top: 1em;
    text-align: center;
    background-size: cover;
    background-color:#c0c0c0
  }

h2,
h3,
h4 {
font-family: "Press Start 2P", monospace;
color: black;
}

p {
font-family: "Press Start 2P", monospace;
line-height: 1.5;
color: black;
font-size: 15px;
}

#score {
font-family: "Press Start 2P", monospace;
color: black;
}

#reset {
background-color: #FF0D72;
color: #0DFF72;
padding: 0.5em;
margin: 0px 0px 25px 0px;
font-family: "Press Start 2P", monospace;
}

#instructions {
background-color:#FF8E0D ;
color: #0DC2FF;
padding: 0.5em;
margin: 0px 0px 25px 0px;
font-family: "Press Start 2P", monospace;
}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: white; /* Fallback color */
background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
background-color: white;
margin: auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
}

/* The Close Button */
.close {
color: #aaaaaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}